In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
tennis = pd.read_csv('play_tennis.csv')
tennis

     outlook temprature humidity    wind play
0      Sunny        Hot     High    Weak   No
1      Sunny        Hot     High  Strong   No
2   Overcast        Hot     High    Weak  Yes
3       Rain       Mild     High    Weak  Yes
4       Rain       Cool   Normal    Weak  Yes
5       Rain       Cool   Normal  Strong   No
6   Overcast       Cool   Normal  Strong  Yes
7      Sunny       Mild     High    Weak   No
8      Sunny       Cool   Normal    Weak  Yes
9       Rain       Mild   Normal    Weak  Yes
10     Sunny       Mild   Normal  Strong  Yes
11  Overcast       Mild     High  Strong  Yes
12  Overcast        Hot   Normal    Weak  Yes
13      Rain       Mild     High  Strong   No

In [23]:
outlook = tennis.groupby(['outlook', 'play']).size()
temp = tennis.groupby(['temprature', 'play']).size()
humidity = tennis.groupby(['humidity', 'play']).size()
windy = tennis.groupby(['wind', 'play']).size()
play = tennis.play.value_counts()

In [24]:
print(temp)
print('------------------')
print(humidity)
print('------------------')
print(windy)
print('------------------')
print(outlook)
print('------------------')
print('play')
print(play)

temprature  play
Cool        No      1
            Yes     3
Hot         No      2
            Yes     2
Mild        No      2
            Yes     4
dtype: int64
------------------
humidity  play
High      No      4
          Yes     3
Normal    No      1
          Yes     6
dtype: int64
------------------
wind    play
Strong  No      3
        Yes     3
Weak    No      2
        Yes     6
dtype: int64
------------------
outlook   play
Overcast  Yes     4
Rain      No      2
          Yes     3
Sunny     No      3
          Yes     2
dtype: int64
------------------
play
Yes    9
No     5
Name: play, dtype: int64

In [33]:
 pd.crosstab(tennis['outlook'], tennis['play'], margins = True)

play      No  Yes  All
outlook
Overcast   0    4    4
Rain       2    3    5
Sunny      3    2    5
All        5    9   14

In [36]:
pd.crosstab(tennis['temprature'], tennis['play'], margins = True)

play        No  Yes  All
temprature
Cool         1    3    4
Hot          2    2    4
Mild         2    4    6
All          5    9   14

In [37]:
pd.crosstab(tennis['humidity'], tennis['play'], margins = True)

play      No  Yes  All
humidity
High       4    3    7
Normal     1    6    7
All        5    9   14

In [41]:
pd.crosstab(tennis['wind'], tennis['play'], margins = True)

play    No  Yes  All
wind
Strong   3    3    6
Weak     2    6    8
All      5    9   14

In [48]:
p_x_yes = ((2/9)*(3/9)*(3/9)*(3/9))*(9/14)
print('The probability of the predictors given playing tennis is', '%.3f'%p_x_yes)

The probability of the predictors given playing tennis is 0.005

In [50]:
p_x_no = ((3/5)*(1/5)*(3/5)*(4/5))*(5/14)
print('The probability of the predictors given not playing tennis is ', '%.3f'%p_x_no)

The probability of the predictors given not playing tennis is  0.021

In [51]:
norm_yes=p_x_yes/(p_x_yes+p_x_no)
norm_no=p_x_no/(p_x_yes+p_x_no)

In [53]:
print('The probability of playing tennis given the predictors is', '%.3f'%norm_yes)
print('The probability of not playing tennis given the predictors is', '%.3f'%norm_no)

The probability of playing tennis given the predictors is 0.205
The probability of not playing tennis given the predictors is 0.795